In [6]:
# Task 1:
import mysql.connector as connector
connection = connector.connect(user = "coursera", password = "hoanglam", db = "LittleLemonDB")
cursor = connection.cursor()

In [8]:
# Task 2:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

results = cursor.fetchall();
print(results)

[('bookings',), ('customers',), ('delivery',), ('menu',), ('menuitems',), ('orders',), ('staffs',)]

In [18]:
# Task 3:
query = """
select CustomerID, FullName, Email, ContactNumber
from Customers inner join Bookings using (CustomerID)
inner join Orders using (BookingID)
where TotalCost > 60;
"""
cursor.execute(query)

print(cursor.column_names)
for customer in cursor:
    print(customer);

('CustomerID', 'FullName', 'Email', 'ContactNumber')
(1, 'Vanessa McCarthy', 'vaMcCar@gmail.com', '13456789')
(2, 'Marcos Romero', 'marRo@gmail.com', '13456789')
(4, 'Joakim Iversen', 'joIve@gmail.com', '13456789')
(5, 'Hiroki Yamane', 'hiYama@gmail.com', '13456789')

In [ ]:
# Review Orders table to check result
cursor.execute("select * from Orders")
print(cursor.column_names)
for order in cursor:
    print(order);